<div class="indexHeader col-md-3">
  <a href="/#/"><h1>Lewis Engel</h1></a>
  <div class="worksBox">
    <a href="/#/about"><span class="colorFive">About</span></a>
    <a href="/#/contact"><span class="colorSix">Contact</span></a>
    <br>
    <a href="/#/text"><span class="colorOne">Emergent Possibilities</span></a>
    <a href="/#/animation"><span class="colorTwo">Emergence over Time</span></a>
    <a href="/#/magnet"><span class="colorThree">Magnetic Attractions</span></a>
    <a href="/#/gauge"><span class="colorFour">Meaningless Measures</span></a>
  </div>
</div>


<div class="col-md-6 workingHeaders contact">
  <h2>Coming Soon</h2>
</div>

<!-- GRID -->
<!-- <div class="col-md-9">
  <br>
  <div ng-hide = "clicked">
      <div class="nonDraggableImage smallGrid" ng-repeat="animation in animations">
          <img ng-src="{{animation.thumbnail}}" alt="{{animation.title}}" ng-click = "one(animation)">
      </div>
  </div> -->

  <!-- SINGLE -->
  <!-- <div ng-show = "clicked">
      <img src="{{single.source}}" alt="{{single.title}}" ng-click = "one()"/>
  </div>
</div> -->
